
<div class="next-game rsvp">
  <a href="#" data-game-id="{{next_game._id}}" data-team-id="{{teams.current._id}}" data-rsvp="in"  class="btn btn-primary">In</a>
  <a href="#" data-game-id="{{next_game._id}}" data-team-id="{{teams.current._id}}" data-rsvp="out" class="btn btn-default">Out</a>
</div>
