
<div class="next-game rsvp">
    <a href="/games/{{next_game._id}}" data-status="in" data-team-id="{{teams.current._id}}" class="btn btn-primary">In</a>
    <a href="/games/{{next_game._id}}" data-status="out" data-team-id="{{teams.current._id}}" class="btn btn-default">Out</a>
</div>
