<div class="next-game rsvp">
    <a href="/team/{{teams.current._id}}/game/rsvp?status=in&game_id={{next_game._id}}" class="btn btn-primary">In</a>
    <a href="/team/{{teams.current._id}}/game/rsvp?status=out&game_id={{next_game._id}}" class="btn btn-default">Out</a>
</div>
