<div class="rsvp-status">
  Players In:
  <ul class='players-in'>
    {{#each players_in}}
      <li> {{this}} </li>   
    {{/each}}
  </ul> 

  Players Out:
  <ul class='players-out'>
    {{#each players_out}}
      <li> {{this}} </li>   
    {{/each}}
  </ul>
</div>
