<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container login-reg">
      <div class="content">
        {{{ body }}}
      </div>
    </div>

    {{{ _sections.scripts }}}
    
  </body>
</html>
