<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container">
      {{> nav}}

      <div class="content">
        {{{ body }}}
      </div>

      {{> footer}}
    </div>
    
    {{{ _sections.scripts }}}

  </body>
</html>
