<html>
  {{>head}}
  <body>
    {{>nav}}
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {{{ body }}}
        </div>
      </div>
    </div>
    {{>footer}}
  </body>

  <!-- bundled JS -->
  <script src="/build/bundle.js"></script>

</html>