<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="container">
      {{>nav}}

      <div class="content">
        {{{ body }}}
      </div>

      {{>footer}}
    </div>
    
    {{#if isDev}}
      <script src="/dist/jquery-2.1.4.js"></script>
      <script src="/dist/react-0.14.1.js"></script>
      <script src="/dist/react-dom-0.14.1.js"></script>
      <script src="../node_modules/@sanchezjjose/react-toggle-component/toggle.js"></script>
      <script src="/javascripts/rsvp.js"></script>
      <script src="/javascripts/signup.js"></script>
      <script src="/javascripts/maps.js"></script>
      <script src="/javascripts/main.js"></script>
    {{else}}
      <script src="/build/bundle.js"></script>
    {{/if}}

  </body>
</html>
