<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <div class="container">
      {{>nav}}

      <div class="content">
        {{{ body }}}
      </div>

      {{>footer}}
    </div>
    
    {{#if isDev}}
      <script src="/dist/jquery-2.1.4.js"></script>
      <script src="/dist/react-with-addons-0.14.3.js"></script>
      <script src="/dist/react-dom-0.14.3.js"></script>
      <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/utils/http.js"></script>
      <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/components/slider.js"></script>
      <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/components/text.js"></script>
      <script src="/node_modules/@sanchezjjose/react-toggle-component/lib/components/toggle.js"></script>
      <script src="/javascripts/rsvp.js"></script>
      <script src="/javascripts/signup.js"></script>
      <script src="/javascripts/maps.js"></script>
      <script src="/javascripts/main.js"></script>
    {{else}}
      <script src="/build/bundle.js"></script>
    {{/if}}

  </body>
</html>
