
<h1>Home Page</h1>

<p>
  {{next_game.start_time}}
</p>

<div id="container">
<!-- This element's contents will be replaced with your component. -->
</div>

<!-- bundled JS -->
<script src="/build/bundle.js"></script>