  
<h1>{{title}}</h1>

<div class='login'>

	<div class='login'>
	  <form action="/login" method="post">
	    <p>
				<label for="email">Username:</label>
				<input id="email" type="text" name="email" placeholder='Email Address' required>
			</p>
			<p>
				<label for="password">Password:</label>
				<input id="password" type="password" name="password" placeholder='Password' required>
			</p>
			<p>
				<input type="submit" value="Login">
			</p>
	  </form>
	</div>

	{{#if unauthorized}}
		<div class='alert'>
			<h5>Invalid credentials.</h5>
		</div>
	{{/if}}

	<div class='signup'> 
	  Not a member?
	  <a href='/signup'>Signup</a> 
	</div>

</div>

{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/build/css/login.bundle.css">
{{/section}}

{{#section 'scripts'}}

{{/section}}
