  
<h1>{{title}}</h1>

<div class='container'>

	<div class='login'>
	  <form action="/login" method="post">
	    <p>
				<label for="email">Username:</label>
				<input id="email" type="text" name="email" placeholder='Email Address' required>
			</p>
			<p>
				<label for="password">Password:</label>
				<input id="password" type="text" name="password" placeholder='Password' required>
			</p>
			<p>
				<input type="submit" value="Login">
			</p>
	  </form>
	</div>

	<div class='signup'> 
	  Not a member? 
	  <a href='/signup'>Signup</a> 
	</div>

</div>

<section class='g5-component' id='fed-component--lineups'></section>

<script type="text/javascript" src="/javascripts/bundle.js"></script>

  <script>
  var linescoreComponent = g5Component({
      container: document.getElementById('fed-component--lineups'),
      css: 'g5-component-lineups fed-component--lineups',
      interval: 15000,
      path: '/javascripts/linescore.json'
  });

  linescoreComponent.init();
</script>