  
<h1>{{title}}</h1>

<div class='component login'>

	<div class='login'>
	  <form action="/login" method="post">
	    <p>
				<label for="email">Username:</label>
				<input id="email" type="text" name="email" placeholder='Email Address' required>
			</p>
			<p>
				<label for="password">Password:</label>
				<input id="password" type="text" name="password" placeholder='Password' required>
			</p>
			<p>
				<input type="submit" value="Login">
			</p>
	  </form>
	</div>

	<div class='signup'> 
	  Not a member? 
	  <a href='/signup'>Signup</a> 
	</div>

</div>