@import "main";

.matchup {
  line-height: 10px;
}

.game-number {
  color: #bfbfbf;
}

.rsvp-section {
  
  ul {
    list-style-type: none;
  }
}

#map {
  height: 400px;
  margin: 0 auto;
  width: 100%;
}
