@viewport-desktop: ~"(min-width: 1024px)";
@viewport-tablet: ~"(min-width: 768px) and (max-width: 1023px)";
@viewport-mobile: ~"(max-width: 767px)";

@green: #28c891;
@lightgray: #f4f4f4;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: @lightgray;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-style: normal;
}

.container {
  height: 100%;
  margin: 0 auto;
}

.content {
  text-align: center;
  position: relative;
}
