.navigation {
  background-color: lightgrey;
  color: red;
  height: 50px;
  width: auto;

  ul {
  	list-style: none;

  	li {
  	  display: inline;
  	}
  }
}

.footer {
  background-color: lightgrey;
  color: blue;
  height: 50px;
  width: auto;
}