
@viewport-desktop: ~"(min-width: 1024px)";
@viewport-tablet: ~"(min-width: 768px) and (max-width: 1023px)";
@viewport-mobile: ~"(max-width: 767px)";
@color-dark-grey: rgba(0,0,0,0.6);
@color-light-grey: lightgrey;

body {
  background-color: #fff;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-style: normal;
}

.navigation {
  background-color: @color-dark-grey;

  .nav-content {
    padding: 20px 10px;
  }

  a {
    color: #fff;

    &:link {
      text-decoration: none;
    }

    &:hover {
      color: @color-light-grey;
    }
  }

  ul {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-list {
    position: relative;
    text-align: justify;
    z-index: 1;
    width: 95%;

    li {
      line-height: 1;
      font-size: 1em;
      font-style: normal;
      font-weight: normal;
    }

    .nav-tab-logo {
      & a:hover {
        color: #fff;
      }
    }

    .nav-tab {
      color: #fff;
      display: inline-block;
      list-style-type: none;
      margin: 0;
      vertical-align: top;

      .nav-tab-link {
        display: block;
        padding: 0 10px;
        position: relative;
        opacity: 1;
        outline-offset: -0.22222em;
        width: 2.16667em;
      }
    }
  }

  .nav-list:after {
    content: '';
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 100%;
  }
}

.container {
  text-align: center;
  margin: 20px auto;

  h1 {
    margin: 0;
  }
}

.footer {
  border-color: red;
  color: @color-dark-grey;
  height: 100px;
  margin: 50px auto;
  text-align: center;
  width: auto;

  a {
    color: #000;

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
